<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zillion.android.askaalim"
    >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AskApplication"
        android:allowBackup="true"
        android:icon="@drawable/ask_alim_150x150_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo24x24"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name=".MyFirebaseMessagingService">

            <intent-filter>

                <action android:name="com.google.firebase.MESSAGING_EVENT" />

            </intent-filter>
        </service>
        <receiver android:name=".BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />

        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.activities.RegisterActivities.RegisterActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ui.activities.PostActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.activities.splash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <activity android:screenOrientation="portrait" android:name=".ui.activities.repeatingActivities.Repeating_activity_hadees" />

        <receiver android:screenOrientation="portrait" android:name=".NotificationReceiever.Notification_receiver_hadees" />

        <activity android:screenOrientation="portrait" android:name=".ui.activities.repeatingActivities.Repeating_activity_hijriEvent" />

        <receiver android:screenOrientation="portrait" android:name=".NotificationReceiever.Notification_receiver_hijriEvent" />

        <activity android:screenOrientation="portrait" android:name=".ui.activities.repeatingActivities.Repeating_activity_prayertime" />

        <receiver android:screenOrientation="portrait" android:name=".NotificationReceiever.Notification_receiver_prayerTime" />

        <activity android:screenOrientation="portrait" android:name=".ui.activities.repeatingActivities.Repeating_activity_unAnsweres" />

        <receiver android:screenOrientation="portrait" android:name=".NotificationReceiever.Notification_receiver_unAnsweredQues" />

        <activity android:screenOrientation="portrait" android:name=".ui.activities.Chat" />

        <service android:name=".MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>


        <activity android:screenOrientation="portrait" android:name=".ui.activities.UserProfile" />
        <activity android:screenOrientation="portrait" android:name=".ui.activities.Prayer_Time_Activity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".inApp_purchaser"
            android:label="@string/title_activity_in_app_purchaser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:screenOrientation="portrait" android:name=".ui.activities.AppInfo" />
        <activity android:screenOrientation="portrait" android:name=".ui.activities.comment_reply_activity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".ui.activities.RegisterActivities.SignupScreen_For_User"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activities.RegisterActivities.signupScreenForAlim"
            android:windowSoftInputMode="stateHidden" />
        <activity android:screenOrientation="portrait" android:name=".ui.activities.CreateNewPostActivity" />
        <activity android:screenOrientation="portrait" android:name=".ui.activities.answersActivity" />
        <activity android:screenOrientation="portrait" android:name=".ui.activities.postNewAnswer" />
        <activity android:screenOrientation="portrait" android:name=".ui.activities.Notification" />
        <activity android:screenOrientation="portrait" android:name=".ui.activities.inbox" />
        <activity android:screenOrientation="portrait" android:name=".ui.activities.ResetPassword" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.activities.SearchWithTabbedActivity"
            android:label="@string/title_activity_search_with_tabbed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:screenOrientation="portrait" android:name=".ui.activities.search_user_for_newMessage" />
        <activity android:screenOrientation="portrait" android:name=".ui.activities.QiblaDirection" />
        <activity android:screenOrientation="portrait" android:name=".ui.activities.viewallsearchesForUser" />
        <activity android:screenOrientation="portrait" android:name=".ui.activities.viewallPosts" />
        <activity android:screenOrientation="portrait" android:name=".ui.activities.viewallComments" />
        <activity android:screenOrientation="portrait" android:name=".ui.activities.sent_messages" />
        <activity android:screenOrientation="portrait" android:name=".ui.activities.edit_profile"></activity>
    </application>

</manifest>